{% if site.footer-links.dribbble %}
<li><a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="fa fa-dribbble fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.email %}
<li><a href="mailto:{{ site.footer-links.email }}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
{% endif %}
{% if site.footer-links.facebook %}
<li><a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fa fa-facebook fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.flickr %}
<li><a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="fa fa-flickr fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.github %}
<li><a href="https://github.com/{{ site.footer-links.github }}"><i class="fa fa-github fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.instagram %}
<li><a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fa fa-instagram fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.linkedin %}
<li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.pinterest %}
<li><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="fa fa-pinterest fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.rss %}
<li><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.twitter %}
<li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fa fa-twitter fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.stackoverflow %}
<li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.youtube %}
<li><a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="fa fa-youtube fa-lg"></i></a></li>
{% endif %}
{% if site.footer-links.googleplus %}
<li><a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="fa fa-googleplus fa-lg"></i></a></li>
{% endif %}